<!DOCTYPE html>
<html lang="en">
<!--<head>-->
   <%- include('../partials/head'); %>
<!--</head>-->
<body class="container">
    <!--<header>-->
        <%-include('../partials/header', {pagina: 'Sobre'}); %>
    <!--</header>-->
    <main>
        <div class="jumbotron">
            <h1>Sobre</h1>
            <p style="text-align: justify;">Sou Cleber 29 anos formado em Jogos digitais pela Universidade Nove de Julho, 
                apaixonado por games e tecnologias para web. Atualmente curso pós – graduação 
                em Gameficação e Sistemas para Web, faço cursos de aprimoramento pela Rockseat, 
                freecodeCamp e Fundação Bradesco, tenho inglês pré intermediário e já 
                tive experiencia internacional na Itália como escultor.</p>
        </div>
    </main>
    <!--<footer>-->
        <%-include('../partials/footer'); %>
    <!--</footer>-->
</body>
</html>
